body {
  margin: 0;
  padding: 0;
  background-image: url('https://img.freepik.com/vector-premium/huella-mascota-patrones-fisuras-mascota-animal-perro-gato-huella-fondo-elemento-oseo-corazon-cachorro-gatito-textura-garabato-dibujado-papel-tapiz-vector_253081-1598.jpg?w=740');
}